<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Settings</ion-title>
      <ion-buttons *ngIf="pendingChanges" slot="end">
        <ion-button (click)="saveProfile()"> Save </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <br />
  <br />

  <div class="pfp-wrapper">
    <ion-avatar slot="start">
      <img
        alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
    <ion-button size="small" fill="clear">Edit</ion-button>
  </div>

  <div>
    <ion-text class="ion-margin heading-text">Profile</ion-text>
    <app-profile
      [value]="pendingProfile"
      (profileChanged)="profileChanged($event)"
    ></app-profile>
  </div>

  <div>
    <ion-text class="ion-margin heading-text">Socials</ion-text>
    <ion-list [inset]="true">
      <ion-item color="light" *ngIf="user.currentUser?.GoogleUser">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-label>Google</ion-label>
        <ion-button
          *ngIf="user.currentUser?.FacebookUser !== null"
          (click)="removeGoogle()"
          fill="clear"
          slot="end"
        >
          <ion-icon
            color="danger"
            slot="icon-only"
            name="remove-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item color="light" *ngIf="user.currentUser?.FacebookUser">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
        <ion-button
          *ngIf="user.currentUser?.GoogleUser !== null"
          (click)="removeFacebook()"
          fill="clear"
          slot="end"
        >
          <ion-icon
            color="danger"
            slot="icon-only"
            name="remove-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div style="padding: 0 15px 15px 15px">
    <ion-button color="dark" expand="block" (click)="logout()"
      >Logout</ion-button
    >
  </div>
</ion-content>
