<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title> Settings </ion-title>
    <ion-buttons *ngIf="pendingChanges" slot="end">
      <ion-button (click)="saveProfile()"> Save </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <br />
  <br />

  <form
    #formEl
    style="display: none"
    action="http://localhost:3000/upload"
    method="post"
    enctype="multipart/form-data"
  >
    <input
      (change)="fileChanged($event)"
      #fileUpload
      type="file"
      name="image"
      accept="image/*"
    />
  </form>

  <div class="pfp-wrapper">
    <ion-avatar style="width: 100px; height: 100px" slot="start">
      <img
        alt="Silhouette of a person's head"
        [src]="user.currentUser?.profilePhotoUrl || 'https://ionicframework.com/docs/img/demos/avatar.svg'"
      />
    </ion-avatar>
    <ion-button
      (click)="uploadPhotoClicked(formEl, fileUpload)"
      size="small"
      fill="clear"
      >Edit</ion-button
    >
  </div>

  <div>
    <ion-text class="ion-margin heading-text">Profile</ion-text>
    <app-profile
      [value]="pendingProfile"
      (profileChanged)="profileChanged($event)"
    ></app-profile>
  </div>

  <div>
    <ion-text class="ion-margin heading-text">Socials</ion-text>
    <ion-list [inset]="true">
      <ion-item color="light" *ngIf="user.currentUser?.GoogleUser">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        <ion-label>Google</ion-label>
        <ion-button
          *ngIf="user.currentUser?.FacebookUser !== null"
          (click)="removeGoogle()"
          fill="clear"
          slot="end"
        >
          <ion-icon
            color="danger"
            slot="icon-only"
            name="remove-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item color="light" *ngIf="user.currentUser?.FacebookUser">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
        <ion-button
          *ngIf="user.currentUser?.GoogleUser !== null"
          (click)="removeFacebook()"
          fill="clear"
          slot="end"
        >
          <ion-icon
            color="danger"
            slot="icon-only"
            name="remove-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div style="padding: 0 15px 15px 15px">
    <ion-button color="dark" expand="block" (click)="logout()"
      >Logout</ion-button
    >
  </div>
</ion-content>
